@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Regular-webfont.eot');
    src: url('../fonts/aleo/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Regular-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Regular-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Italic-webfont.eot');
    src: url('../fonts/aleo/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Italic-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-Italic-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-Italic-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Bold-webfont.eot');
    src: url('../fonts/aleo/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-Bold-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Bold-webfont.svg#aleoitalic') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-BoldItalic-webfont.eot');
    src: url('../fonts/aleo/Aleo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-BoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-BoldItalic-webfont.svg#aleoitalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-Light-webfont.eot');
    src: url('../fonts/aleo/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Light-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-Light-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-Light-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Light-webfont.svg#aleoitalic') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo/Aleo-LightItalic-webfont.eot');
    src: url('../fonts/aleo/Aleo-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/aleo/Aleo-LightItalic-webfont.woff') format('woff'),
         url('../fonts/aleo/Aleo-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-LightItalic-webfont.svg#aleoitalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
