<li class="media post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
    {{ if .Params.coverImage }}
        <img class="mr-3" src="{{ $.Params.coverImage }}" width="150" alt="Card image cap">
    {{ else }}
        <div class="mr-3" style="width:150px">&nbsp;</div>
    {{ end }}
    <div class="media-body">
        <h5 class="mt-0 mb-1">
            <a href="{{ $.Permalink }}" itemprop="url" title="Go to post detail">{{ .Title }}</a>
        </h5>
        <!-- <small>{{ .Summary }}</small><br> -->
        <time class="post-stub-date" datetime="{{ .Date.Format " 2006-01-02 " }}">
            {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}
        </time>
        <small class="text-muted">//</small>
        <span class="reading-time">{{ .ReadingTime }} min read</span><br>
        {{ with .Param "featured"}}
        <span class="badge badge-primary"><i class="fa fa-start"></i>&nbsp;Featured</span>
        {{ end }}
    </div>
</li>
